@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.trans {
  @apply transition-all ease-in-out duration-300
}
.animation-top-to-bottom {
  transform: translateY(0);
    animation: top-to-bottom 0.5s ease-in;
}
.animation-bottom-to-top {
  animation: bottom-to-top 0.5s ease-in;
    transform: translateY(-200%);
}
@keyframes top-to-bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes bottom-to-top {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
